@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="bg-light p-3 p-sm-5 my-4 rounded" style="background:url(@Url.Content(ViewBag.BackImage)) center no-repeat;background-size: cover;">
        <h1 class="display-4">ASP.NET MVC SPA</h1>
        <p class="lead">SPAと言っても、厳密に一ページで作成必要は無いと思います。</p>
        <p class="lead">機能単位でページ遷移が無ければ要件的に満たすと思うので</p>
        <hr class="my-4" />
        <p>ブートスラップ５．０を適用するつもりでしたが、スクリプトのレンダー処理がエラーで落ちちゃいます</p>
        <p>残念ながら諦めました</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">もっと学ぼう</a>
    </div>
    <h1 class="mt-2">ブランド</h1>
    <p>ここにサイトの文章を入れる</p>
</div>


