@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="bg-light p-3 p-sm-5 my-4 rounded" style="background:url(@Url.Content(ViewBag.BackImage)) center no-repeat;background-size: cover;">
        <h1 class="display-4">ASP.NET MVC SPA</h1>
        <p class="lead">SPAと言っても、厳密に一ページで作成必要は無いと思います。</p>
        <p class="lead">機能単位でページ遷移が無ければ要件的に満たすと思うので</p>
        <hr class="my-4" />
        <p>ブートスラップ５．０を適用するつもりでしたが、スクリプトのレンダー処理がエラーで落ちちゃいます</p>
        <h2>このサイトで使用している技術</h2>
        <p>・C#.NET MVC</p>
        <p>‐‐‐Linq、メソッドチェーン、ラムダ式</p>
        <p>・エンティティーフレームワーク６．０</p>
        <p>‐‐‐Linqで記述しきれないDBアクセスのための生SQLクエリ</p>
        <p>・ブートストラップ４．６</p>
        <p>・jQuery3.4.1</p>
        <p>・AjaxによるJsonデータ通信(WebAPI)</p>
        <h3>以上を利用してSPAライクな実装をしています</h3>
    </div>
    <h1 class="mt-2">ブランド</h1>
    <p>今回は認証を入れていないので、経費帳は入力を共有します</p>
    <p>認証自体は前回作成のデモアプリで作っているのですが、ローコードとはいえかなり面倒なので実装しませんでした</p>
    <p>本来は認証IDまたは代替情報(IPアドレス等)で、アイテムを所有者以外はアクセス出来ないのですが、データ入力が面倒なので共有させています</p>
</div>


