body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*ページ遷移の抑制をする*/
.web-curb {
    visibility:hidden;
}

/*処理結果表示*/
.web-result-text {
    display: none;
}
/*エラーの制御*/
/* デフォルトでは非表示 */
.web-error {
    display: none;
}
/* 隣接セレクタで
 * input:invalidの隣の
 * エラーメッセージは表示する
 */
input:invalid + .web-error {
    display: block;
    color: red;
    font-size: 0.9em;
}